[user]
	email = ruigrok.michael@gmail.com
	name = Michael Ruigrok
[credential]
	helper = cache --timeout 10000

[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	default = simple
	recurseSubmodules = check

[color]
	ui = auto
[pager]
	status = true
[core]
	editor = 'vim'
	pager  = less -RXi
	autocrlf = input

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[url "git+ssh://michaelruigrok@git.launchpad.net/"]
	insteadof = launchpad:
[url "git+ssh://git@content.rodeo:/git/"]
	insteadof = content.rodeo:
