[user]
	email = ruigrok.michael@gmail.com
	name = Michael Ruigrok
[credential]
	helper = cache --timeout 10000
[pager]
	status = true

[push]
	default = simple
[color]
	ui = auto

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[core]
	editor = 'vim'
	pager  = less -r
[init]
	defaultBranch = main

[url "git+ssh://michaelruigrok@git.launchpad.net/"]
	insteadof = launchpad:
[url "git+ssh://content.rodeo:/opt/git/"]
	insteadof = content.rodeo:
